@use '../../styles/vars';

#timeline{
  transition: 0.2s;
  text-align: center;
  justify-content: center;
  width: 70%;
  margin: auto;
  color: white;


  //margin: 200px;
}

light {
  transition: 0.2s;
  color: vars.$darkGrey;
  background-color: vars.$mainLightGrey;
}