.projects{
  // width: 90%;
  height: max-content;
  background-color: rgb(240, 236, 236);
  display: flex;
  justify-content: center;
  padding: 2%;
  border: 1px solid black;

  @media (max-width: 800px)
    {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

  &__project {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(36, 14, 203);
    overflow-wrap: break-word;
    word-wrap: break-word;

    &--img {
      margin: 1rem;
    }
    @media (max-width: 800px)
    {
      width: 90%;
      display: flex;
      padding: 8px;
      align-items: center;
    }

    &__box {
      padding-bottom: 10px;

      &--link {
        color: rgb(255, 132, 0);
        padding-bottom: 20px;}

        :hover {
          animation: 2s ease-in;
          //transition: 2s;
          color: aqua;
          transition: 2s;
          zoom: 120%;
        }
    }

    /* 
      
    } */
  }

}

p {
  padding-bottom: 0;
}
