@use '../../styles/vars';

.me {
  width: 90%;
  height: 33rem;
  color: vars.$lightGrey;
  margin: auto;
  margin-top: 3*vars.$gutter;
  display: flex;
  //justify-content: center;
  align-items: center;
  border: 1px solid grey;
  
    @media (max-width: 800px){
    flex-direction: column;
    height: min-content;
    }

  &__desc {
    
    padding: 2px;
    width: 40%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    

    &--name {
      font-size: 2.2rem;
      margin-top: 15px;
    }

    &--pic {
      object-fit:cover;
      width: 280px;
      height: 320px;
      text-align: center;
      margin: 2% 0;
    }

    &--title {
      font-size: 1.7rem;
    }
    
    @media (max-width: 800px) {
      width: 90%;
      height: min-content;
      
      &--pic {
        object-fit:cover;
        width: 200px;
        height: 250px;
        text-align: center;
        margin: 2% 0;
      }

    }
  }

  &--about {
    font-size: 1.4rem;
    margin: 2px;
    padding: 2px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    //align-items: stretch;
    
    //background-image: '../../assets/dev_web.jpg';
    height: 100%;
    width: 100%;
    border: 1px solid rgb(231, 35, 35);
    font-size: 1.4em;
    
    &--pic {
      object-fit:cover;
      width: 100%;
      height: 100%;
    }
    &--button {
      bottom: 60px;
      
      text-align: right;
      width: max-content;
      font-weight: bolder;
      font-size: 1.4rem;
      &:hover {
        zoom: 110%;
      }
    }
    &--resume {
      padding: 1%;
      background-color: vars.$lightGreen;
      
      //overflow-y: scroll;
      
    }
    @media (max-width: 800px) {
      width: 100%;
      height: 20rem;
      overflow-y: scroll;

      &--resume {
        padding: 5%;
      }

    }
  }

}

light {
  color: black;
  background-color: rgb(240, 236, 236);
}

#button {
display: flex;
width: 90%;
justify-content:flex-end;
}