.contact {
  border: 1px solid black;
  width: 100%;
  height: max-content;
  // background-color: rgb(240, 236, 236);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &__fields {
    width: 80%;
    border: 1px solid rgb(209, 24, 24);
    
    :focus{
      background-color: rgb(209, 209, 209);
    }
    &__field {
      background-color: rgb(240, 236, 236);
      margin-right: 5px;
      /* display: flex;
      justify-content: space-between; */
      :focus {
        border: 1px solid rgb(209, 24, 24);
      }
      
    }
    
  }

  &__message {
    width: 80%;
    border: 1px solid black;
    background-color: rgb(240, 236, 236);
    
    &__field {
      background-color: rgb(240, 236, 236);
      margin-right: 5px;
    }

    &--submit {
      width: 50%;
      margin-top: 3rem;
    }
  }
}

light {
  color: black;
  background-color: rgb(240, 236, 236);
}

.hide {
  display: none;
}