@use '../../styles/vars';

.contact {
  transition: 0.2s;
  background-color: vars.$darkGrey;;
  width: 90%;
  margin: auto;
  padding: 1rem;
  height: max-content;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  //border: 1px solid rgb(241, 6, 6);
  &__fields {
    //width: 80%;
     border: 1px solid rgb(209, 24, 24);
    
    :focus{
      background-color: #fff;
    }
    &__field {
      background-color: vars.$lightGrey;
      color: vars.$darkGrey;
      &:hover {
        background-color: vars.$lightGreen;;
      }
      :focus {
        background-color: #fff;
      }
    }
    
  }

  &__message {
    padding: 0.5rem;
    width: 80%;
    align-self: center;
    display: flex;
    border: 1px solid rgb(235, 8, 8);
    //background-color: rgb(240, 236, 236);
    
    //text area
    &__field {
      background-color: rgb(240, 236, 236);
      width: 100%;
      padding: 0;
      margin: auto;
      
      :focus {
        background-color:#fff;
      }
      &:hover {
        background-color: vars.$lightGreen;;
      }
      
    }

   
  }
}

.light {
  transition: 0.2s;
  color: black;
  background-color: vars.$lightGrey;
}

.hide {
  display: none;
}

#submit {
  width: 50%;
  color: vars.$darkGrey;
  background-color: vars.$middleGreen;
  font-weight: bolder;
  font-size: 1.1rem;

  &:hover {
    zoom: 120%;
  }
}