/* .css-16lloyr-MuiBottomNavigation-root{
  background-color: rgb(240, 236, 236);
} */

.header{
  height: 150px;
  background-color: rgb(240, 236, 236);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid grey;
  
  &__themeSwitch {
    display:flex;
    margin-left: 1rem;
  }
  &__nav{
    display:flex;
    width: 100%;
    height: 100%;
    align-items: center;

    @media (max-width: 800px) {
      flex-direction: column;
      height: min-content;
      
      }

    &--link{
      width: 100%;
      font-size: 2rem;
    }
  }

  
}

