@use '../../styles/vars';
#header{
  //position: fixed;
  left : 0;
  transition: 0.2s;
  font-size: 1.5rem;
  background-color: vars.$middleGreen;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid grey;
  
  @media (max-width: 800px) {
   margin-right: 2rem;
    text-align: left;
    width: max-content;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    //background-color: #1976d289;
    
    
    }
    
}

/* .hide {
  background-color: none;
  display: none;
} */
.header {
  //height: 150px;
  //width: 100%;
  //

  /* position: fixed;
  transition: 0.2s;
  font-size: 1.5rem;
  background-color: vars.$mainColor; 
  justify-content: space-around;
  align-items: center;
  border: 1px solid grey;*/
  
  /* &--light {
    background-color: vars.$mainColor;
  } */
  @media (max-width: 800px) {
    //display: none;
    text-align: left;
    //width: min-content;
    }

  &__themeSwitch {
    display:flex;
    margin-left: 1rem;

    @media (max-width: 800px) {
      margin-left: 0;
      }
  }
  &__nav {
    width: 100%;
    display:flex;
    //height: 100%;
    align-items: center;

      @media (max-width: 800px) {
        flex-direction: column;
        margin-right: auto;
        margin-left: 1rem;
        align-items: flex-start;
        height: min-content;
        width: min-content;
        }

    &--buttons {
      @media (max-width:800px){
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: vars.$gutter;
      }
    }
 
    &--link{
      color: vars.$darkGrey;
      text-transform: uppercase;
      width: 100%;
      
      @media (max-width:800px){
        display: none;
      }
    }

    &--link--mobile {
      display: none;
      
      @media (max-width:800px){
        display: block;
        color: white;
        text-transform: uppercase;
        padding: 1rem;
        transition-timing-function: ease-in;

  /* Quick on the way out */
  transition: 0.2s;

  /* Hide thing by pushing it outside by default */
  //transform: translateX(130%);

        //transition: all 0.3s ease-in;
      
        /* &.hide {
          transition: all 0.3s ease-in;
          background-color: none;
          display: none;
        } */

      }
    }
  }
  
}

.light {
  background-color: vars.$lightGrey;
  color: rgb(0, 0, 0);
}

//button
.toggle {
  display: none;
  @media (max-width:800px){
    //position: relative;
    //left: 2rem;
    display: block;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    border: 3px solid black;
    background-color: white;
    font-size: 1.5em;
    color: vars.$mainColor;
  }
  
  // on veut remonter le bouton pour qu'il soit sur le Header
  //margin-top: -25px;

  // au hover on inverse les couleurs
  &:hover {
    border: 3px solid vars.$darkGrey;
    color: vars.$darkGrey;
    background-color:vars.$lightGreen;
  }

  // on applique une rotation sur le bouton si les devises sont visibles
  // .toggle.toggle--open
  &.toggle--open {
    transform: rotate(90deg);
  }
}