/* .footer{
  width: 100%;
  height: 100px;
  background-color: rgb(240, 236, 236);
  display: flex;
  justify-content: center;
  align-items: center;
}
 */
 @use '../../styles/vars';

.footer {
  //display: flex;
  flex-direction: column;
  //background-color: #bdbdbd;
  background-color: vars.$middleGreen;
  //align-items: center;
  color:  vars.$darkGrey;
  //color: vars.$light-color;
  width: 90%;
  margin: auto;
  //height: max-content;
  // padding-top: 15px;
  strong{
    font-weight: bold;
  }
  &--p {
    vertical-align : middle;
    text-align: center;
    align-self: center;
  }
  &--small{
    margin-top: 15px;
    font-size: 12px;
  }
  &--img{
    height: 4rem;
    width: 4rem;
  }

  &--em {
    font-style: italic;
  }
  &--link {
    margin: 2rem;
    margin-top: 2rem;
  }
  
  
}

.light {
  transition: 0.2s;
  //color: black;
  //background-color: #bdbdbd;
}
.home {

  &--icon{
    height: 3rem;
    width: 10rem;
  }
}